<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="IndTransaccionPago" value="N" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="EPADMWR" transactionFlow="true" />
        <binding name="EPMotorIFPws" />
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:6060/ServicioMotorIFP.svc" binding="wsHttpBinding" bindingConfiguration="EPMotorIFPws" contract="Proxies.MotorIFP.IServicioMotorIFP" name="EPMotorIFPws">
        <identity>
          <userPrincipalName value="ext.ealmaraz@interseguro.com.pe" />
        </identity>
      </endpoint>
      <endpoint address="http://hotei-dev/wsADMWR/ServiceADMWR.svc" binding="wsHttpBinding" bindingConfiguration="EPADMWR" contract="Proxies.ModuloADMWR.IServiceADMWR" name="EPADMWR">
        <identity>
          <userPrincipalName value="awrsepro@interseguro.com.pe" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>