<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="epAzman" />
        <binding name="EPCWRV" />
        <binding name="EPCWRV1" />
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://hotei-dev.interseguro.com.pe/wsSeguridad/ServiceAzman.svc"
        binding="wsHttpBinding" bindingConfiguration="epAzman" contract="Proxies.ModuloSeguridad.IServicioAzman"
        name="epAzman">
        <identity>
          <userPrincipalName value="segampro@interseguro.com.pe" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:54356/ServicioCotizador.svc"
        binding="wsHttpBinding" bindingConfiguration="EPCWRV" contract="Proxies.ModuloPrincipal.IServicioCWRV"
        name="EPCWRV">
        <identity>
          <userPrincipalName value="LAURITAXIII\laura" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>