<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net" />
		<section name="keyConfiguration" type="System.Configuration.NameValueFileSectionHandler" />
	</configSections>
	<log4net>
		<root>
			<level value="ALL" />
			<appender-ref ref="LogFileAppender" />
		</root>
		<appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
			<param  name="File"  type="log4net.Util.PatternString" value="Logs\\CWRV.ServiciosDistribuidos.%date{yyyyMMdd}.log" />
			<param name="AppendToFile" value="true" />
			<rollingStyle value="Date"/>
			<datePattern value="yyyyMMdd" />
			<!--<param name="File" value="Logs\\CWRV.ServiciosDistribuidos.log" />
			<param name="AppendToFile" value="true" />
			<rollingStyle value="Size" />
			<maxSizeRollBackups value="10" />
			<maximumFileSize value="10MB" />-->
			<staticLogFileName value="true" />
			<layout type="log4net.Layout.PatternLayout">
				<param name="ConversionPattern" value="%date [%thread] %-5level [%type.%method] [%aspnet-request{REMOTE_ADDR}] - %message%newline" />
			</layout>
		</appender>
	</log4net>
	<appSettings>
		<!--
    Parametros SMTP
    -->
		<add key="DominioSMTP" value="126.26.3.200" />
		<add key="PuertoSMTP" value="25" />

		<!--
    Parametros AZMAN
    -->
		<add key="AplicacionAZMAN" value="CWRV" />
		<add key="DominioRed" value="DINTERSEGURO" />

		<!--
    Debug intput/output de la DLL RviCotMain
    -->
		<add key="DebugDLL" value="N" />
		<add key="DebugDLL" value="S" />

		<add key="IndTransaccionPago" value="S" />
		<add key="IndTransaccionPago" value="N" />

		<!--grant_type, client_id, client_secret= se usan para generar token -->
		<add key="grant_type" value="client_credentials" />
		<add key="client_id" value="RPPCLIENT" />
		<add key="client_secret" value="56f45d0817292193b632fd3e0ded9e88" />
		<add key="client_id2" value="RPPCLIENT" />
		<add key="client_id" value="idcliente" />
		<add key="client_secret" value="clientesecret" />
		<add key="client_id2" value="miusuariotest" />

		<!--Se usa para url de coincidencia y propuesta-->
		<add key="url_token" value="http://10.43.242.34/oauth/access_token" />
		<add key="url_email" value="http://10.43.242.34/calificacion/emails-alerta" />
		<add key="url_coincidencia" value="http://10.43.242.34/base/coincidencia-pep" />
		<add key="url_coincidencia_ln" value="http://10.43.242.34/base/coincidencia-pep-ln" />
		<add key="url_propuesta" value="http://10.43.242.34/calificacion/propuesta" />
		<add key="url_rechazo" value="http://10.43.242.34/rpp/rechazar" />

		<add key="url_envio_correo" value="http://aizen/ServicioMail/Servicio_Enviar_Correo.svc/enviarCorreoRemitentePrueba2" />
		<add key="url_generadorpoliza" value="http://hotei-dev/sme-gestor-documentos/api/WordPdf/combinar-word-mergefield" />
		<add key="url_enviopolizaelectonica" value="http://inari-dev/sme-envio-documentos/api/v1/envios" />
		<add key="url_sme_envio_correos" value="http://inari-dev/sme-envio-correos/api/masterbase/v2/envios-individuales" />
		<add key="url_aizen_envio_correos" value="http://aizen/ServicioMail/Servicio_Enviar_Correo.svc/enviarCorreoRemitente1" />
		<add key="procesoSME" value="61" />
		<add key="procesoSME" value="57" />
		<add key="polizaElectronicaIN" value="\\hotei\Rentas\Renta_Particular\IFP\Poliza_Electronica\Plantilla\" />
		<add key="polizaElectronicaOUT" value="\\hotei\Rentas\Renta_Particular\IFP\Poliza_Electronica\Documentos_Generados\" />
		<add key="url_cwrvApi" value="http://inari-uat/apiCWRV/api" />
		<!--<add key="url_cwrvApi" value="https://localhost:44397/api" />-->

		<add key="polizaRPPIN" value="\\hotei\Rentas\Renta_Particular\RPP\Poliza\Plantilla\" />
		<add key="polizaRPPOUT" value="\\hotei\Rentas\Renta_Particular\RPP\Poliza\Documentos_Generados\" />
		<add key="polizaRPPIN" value="\\rea\pub\Rentas\Renta_Particular\RPP\Poliza\Plantilla\" />
		<add key="polizaRPPOUT" value="\\rea\pub\Rentas\Renta_Particular\RPP\Poliza\Documentos_Generados\" />

		<add key="destinatario_envio_evaluacion" value="lespinoza,gosores,nmachado" />
		<add key="destinatario_aprobacion_plaft_operaciones" value="lespinoza,gosores,nmachado" />
		<add key="destinatario_observado_plaft_operaciones" value="lespinoza,gosores,nmachado" />
		<add key="destinatario_rechazado_plaft_operaciones" value="lespinoza,gosores,nmachado" />
		<add key="destinatario_envio_evaluacion" value="hlaura,ealmarazgarcia@gmail.com" />
		<add key="destinatario_aprobacion_plaft_operaciones" value="hlaura,ealmarazgarcia@gmail.com" />
		<add key="destinatario_observado_plaft_operaciones" value="hlaura,ealmarazgarcia@gmail.com" />
		<add key="destinatario_rechazado_plaft_operaciones" value="hlaura,ealmarazgarcia@gmail.com" />

    <add key="destinatario_envio_evaluacion_comercial" value="gbustillos" />
    <add key="destinatario_aprobacion_plaft_comercial" value="gbustillos" />
    <add key="destinatario_observado_plaft_comercial" value="gbustillos" />
    <add key="destinatario_rechazado_plaft_comercial" value="gbustillos" />
    <add key="destinatario_lista_negra" value="lespinoza" />
    <add key="destinatario_envio_evaluacion_comercial" value="hlaura,ealmarazgarcia@gmail.com" />
    <add key="destinatario_aprobacion_plaft_comercial" value="hlaura,ealmarazgarcia@gmail.com" />
    <add key="destinatario_observado_plaft_comercial" value="hlaura,ealmarazgarcia@gmail.com" />
    <add key="destinatario_rechazado_plaft_comercial" value="hlaura,ealmarazgarcia@gmail.com" />   
    <add key="destinatario_lista_negra" value="lespinoza,hlaura,ealmarazgarcia@gmail.com" />
    
    <add key="enviar_correo" value="N" />
    <add key="url_correo_observacion_rpp" value="http://inari-dev/CWRV/RentaPrivadaPlus/GrupoFamiliarAfiliadoCierre.aspx?source=correo" />
    <add key="url_correo_observacion_ifp" value="http://inari-dev/CWRV/RentaIFP/SeleccionSolicitud.aspx?source=correo" />
	
    <add key="SolicitudIfpPepIn" value="\\hotei\Rentas\Renta_Particular\IFP\Solicitud\Plantilla\IFP_FormatoPEP.docx" />
    <add key="SolicitudIfpFormatosOut" value="\\hotei\Rentas\Renta_Particular\IFP\Solicitud\Documentos_Generados\" />
    <add key="SolicitudRppPepIn" value="\\hotei\Rentas\Renta_Particular\RPP\Solicitud\Plantilla\PlantillaWordPEP.docx" />
    <add key="SolicitudRppPepOut" value="\\hotei\Rentas\Renta_Particular\RPP\Solicitud\Documentos_Generados\" />
    <add key="destinatario_envio_evaluacion_inteligo" value="hlaura,ealmarazgarcia@gmail.com" />

    <add key="discoMegasCotizar" value="C" />
    <add key="cantidadMegasCotizar" value="10485760" />
    <add key="SolicitudIfpOFIn" value="\\hotei\Rentas\Renta_Particular\IFP\Solicitud\Plantilla\IFP_FormatoOF.docx" />
    <add key="SolicitudIfpSolicitudIn" value="\\hotei\Rentas\Renta_Particular\IFP\Solicitud\Plantilla\IFP_FormatoSolicitudRenta.docx" />
	
    <add key="SolicitudRppOFIn" value="\\hotei\Rentas\Renta_Particular\RPP\Solicitud\Plantilla\RPP_FormatoOF.docx" />
    <add key="SolicitudRppIn" value="\\hotei\Rentas\Renta_Particular\RPP\Solicitud\Plantilla\RPP_FormatoSolicitudRenta.docx" />
    <add key="SolicitudRppOut" value="\\hotei\Rentas\Renta_Particular\RPP\Solicitud\Documentos_Generados\" />

    <add key="url_correo_observacion" value="https://app.interseguro.com.pe/CWRV/RentaPrivadaPlus/GrupoFamiliarAfiliadoCierre.aspx?source=correo" />
    <add key="url_correo_observacion" value="https://inari-dev/CWRV/RentaPrivadaPlus/GrupoFamiliarAfiliadoCierre.aspx?source=correo" />
    
    <!-- Endpoint del API CWRV para el registro en la tabla cwrv_envio_seguimiento -->
    <add key="url_envio_seguimiento" value="http://inari-dev/apiCWRV/api/envio-seguimiento" />
	
    <!-- URL Base del API rviadm-admin -->
    <add key="url_rviadm_backend" value="http://inari-dev/rviadm-admin/api/v1" />
    <!--<add key="url_rviadm_backend" value="http://localhost:5000/api/v1" />-->
	
    <!-- Endpoint del método que devuelve el estado de los CUSPP desde vtiger -->
    <add key="url_vTiger_api" value="http://10.29.27.249/710dt01/isws/" />
	
    <!-- Endpoint del método que emite la póliza en el admwr-api -->
    <add key="url_pdf_emision_poliza_admwr" value="http://inari-dev/admwr-api/api/polizas/generar-pdf/{0}" />
	
    <!-- Credenciales para conectarse con el admwr-api -->
    <add key="usuario_admwr_api" value="cwrv" />
    <add key="contraseña_admwr_api" value="z427FcQwMSPZuFbIjNWGAAACC1MEo1DG7cIOBSuI3ps" />

		<!-- Endpoint que devuelve los feriados del API Work Days  -->
		<add key="url_workdays" value="http://10.49.35.89:3125/api/v1/workday" />
		<!--<add key="url_workdays" value="http://docker-uat-gcp.interseguro.com.pe:3125/api/v1/workday" />-->

		<!-- Nuevo GTI 40661 -->
		<!-- Endpoint del Motor de cálculo rentas docker dev para cotizar -->
		<add key ="url_motor_calculo_rentas" value="http://10.49.35.89:3777/api/v1/{0}" />
		<!--<add key="url_motor_calculo_rentas" value="http://localhost:5000/api/v1/{0}" />-->

		<!-- Ruta compartida para crear los log -->
		<add key="RutaLog" value="C:\\temp\\"/>

	</appSettings>

	<keyConfiguration configSource="keyConfiguration.config">
	</keyConfiguration>

	<connectionStrings>
		<!--<add name="Conexion" connectionString="data source=10.49.46.19;Initial Catalog=exp_serv;User Id=user_cwrv_api;Password=VAz7ZWX9e6tq2bg3Y;" providerName="System.Data.SqlClient" />-->
		<add name="Conexion" connectionString="data source=10.49.46.19;Initial Catalog=exp_serv;User Id=user_cwrv_api;Password=VAz7ZWX9e6tq2bg3Y;" providerName="System.Data.SqlClient" />
		<add name="ConexionCRM" connectionString="data source=s908vd;Initial Catalog=ISCRM_MSCRM;Integrated Security=true" providerName="System.Data.SqlClient" />
		<add name="ConexionSDA" connectionString="data source=s908vd;Initial Catalog=RVISDA;Integrated Security=true" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<system.web>
		<compilation targetFramework="4.0" debug="true" />
	</system.web>
	<system.serviceModel>
		<bindings>
			<netTcpBinding>
				<binding name="CWRVBindingNetTCP" maxBufferPoolSize="2147483646" maxBufferSize="2147483646" maxReceivedMessageSize="2147483646">
					<readerQuotas maxDepth="2147483646" maxStringContentLength="2147483646" maxArrayLength="2147483646" maxBytesPerRead="2147483646" maxNameTableCharCount="2147483646" />
				</binding>
			</netTcpBinding>
			<wsHttpBinding>
				<binding name="CWRVBindingWsHttp" maxReceivedMessageSize="33554432">
					<readerQuotas maxDepth="32" maxStringContentLength="33554432" maxArrayLength="33554432" maxBytesPerRead="33554432" maxNameTableCharCount="33554432" />
					<security mode="None" />
				</binding>
				<binding name="EPADMWR" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" bypassProxyOnLocal="false" transactionFlow="true" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="33554432" maxReceivedMessageSize="33554432" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false" />
				<binding name="epAzman" />
				<binding name="EPMotorIFPws" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="33554432" maxReceivedMessageSize="33554432" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false" />
			</wsHttpBinding>
			<webHttpBinding>
				<binding name="webHttpBindingWithJsonP" crossDomainScriptAccessEnabled="true" />
			</webHttpBinding>
			<basicHttpBinding>
				<binding name="EPCWRV_Publico">
					<security mode="None" />
				</binding>
			</basicHttpBinding>

		</bindings>
		<services>
			<service behaviorConfiguration="CWRVBehavior" name="Interseguro.CWRV.ServiciosDistribuidos.ServicioCWRV">
				<endpoint address="" binding="wsHttpBinding" bindingConfiguration="CWRVBindingWsHttp" name="EPCWRV" contract="Interseguro.CWRV.ServiciosDistribuidos.IServicioCWRV" />
				<endpoint address="cotizador" binding="basicHttpBinding" bindingConfiguration="EPCWRV_Publico" contract="Interseguro.CWRV.ServiciosDistribuidos.IServicioCWRV_Publico" />
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
			</service>
			<service behaviorConfiguration="PlaftBehavior" name="Interseguro.CWRV.ServiciosDistribuidos.ServicioPlaft">
				<endpoint address="" binding="webHttpBinding" bindingConfiguration="webHttpBindingWithJsonP"
						  contract="Interseguro.CWRV.ServiciosDistribuidos.IServicioPlaft"
						  behaviorConfiguration="RESTPlaftEndpointBehavior"/>
			</service>
			

		</services>
		<behaviors>
			<serviceBehaviors>
				<behavior name="CWRVBehavior">
					<dataContractSerializer maxItemsInObjectGraph="2147483647"/>
					<serviceMetadata httpGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="true" httpHelpPageEnabled="true" />
				</behavior>
				<behavior name="PlaftBehavior">
					<serviceMetadata httpGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="true" />
					<dataContractSerializer />
				</behavior>

			</serviceBehaviors>
			<endpointBehaviors>
				<behavior name="RESTPlaftEndpointBehavior">
					<webHttp />
				</behavior>
			</endpointBehaviors>

    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
	<client>
        <endpoint address="http://hotei-dev/wsAdmwr/ServiceADMWR.svc" binding="wsHttpBinding"
            bindingConfiguration="EPADMWR" contract="Proxies.ModuloADMWR.IServiceADMWR"
            name="EPADMWR">
		<!-- address="http://localhost:57459/ServiceADMWR.svc" -->
            <identity>
                <userPrincipalName value="awrsepro@interseguro.com.pe" />
            </identity>
        </endpoint>
		<endpoint address="http://hotei-dev/wsSeguridad/ServiceAzman.svc"          
			binding="wsHttpBinding" bindingConfiguration="epAzman"  contract="Proxies.ModuloSeguridad.IServicioAzman" name="epAzman">
			<identity>
				<userPrincipalName value="segampro@interseguro.com.pe" />
			</identity>
		</endpoint>
		<endpoint address="http://hotei-dev/wsMotorCalculo/ServicioMotorIFP.svc"
			binding="wsHttpBinding" bindingConfiguration="EPMotorIFPws" 
			contract="Proxies.MotorIFP.IServicioMotorIFP" name="EPMotorIFPws">
		<!-- address="http://localhost:6060/ServicioMotorIFP.svc" -->
			<identity> 
				<userPrincipalName value="cwrsepro@interseguro.com.pe" /> 
			</identity>
		</endpoint>
    </client>
	
	
  </system.serviceModel>
  <system.webServer>
		<modules runAllManagedModulesForAllRequests="true" />
        <staticContent>
            <clientCache cacheControlMode="DisableCache" />
        </staticContent>
  </system.webServer>
  
  <!--Configuracion de Proxy-->
  <!--Esta seccion va unicamente en ambientes menores ya que al ser burbujas necesitan del proxy para salir a Internet-->

	<!--<system.net>
    <defaultProxy>
      <proxy
        usesystemdefault="True"
        proxyaddress="http://proxy.interseguro.com.pe:8080"
        bypassonlocal="True"
      />
    </defaultProxy>
  </system.net>-->

	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Oracle.DataAccess" publicKeyToken="89b483f429c47342" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.112.3.0" newVersion="4.112.3.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>