<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  
  <!--API CWRV-->
  <add key="cwrv_api_estudio_necesidades_consultar" value="/estudio-necesidades/{0}" />
  <add key="cwrv_api_estudio_necesidades_obtener_JSON" value="/estudio-necesidades/obtenerJson" />
  
  <!--API EdN-->
  <add key="estudio_necesidades_api_subir" value="/v1/formatos/generar-pdf" />
  <add key="estudio_necesidades_api_obtener" value="/v1/formatos/{0}/{1}/{2}/{3}/{4}" />
  <add key="estudio_necesidades_api_descargar_pdf" value="/v1/formatos/descargar-pdf" />

  <!--API RVIADM-->
  <add key="rviadm_backend_tipos_zona" value="/parametros/tipos-zona/{0}" />
  <add key="rviadm_backend_tipos_larga_distancia" value="/parametros/codigos-ldn/{0}" />
  <add key="rviadm_backend_tipos_paises" value="/parametros/paises/{0}" />
  <add key="rviadm_backend_tipos_doc_parentesco" value="/parametros/tipos-doc-parentesco/{0}" />
  <add key="rviadm_backend_obtener_persona" value="/personas/{0}/{1}/{2}" />
  <add key="rviadm_backend_obtener_beneficiario" value="/beneficiarios/por-documento/{0}/{1}/{2}" />
  <add key="rviadm_backend_tipos_essalud" value="/parametros/tipos-pacto-salud" />

</appSettings>
