<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net" />
		<section name="cotizaciones" type="Interseguro.CWRV.Infraestructura.General.SeccionCotizaciones" allowLocation="true" allowDefinition="Everywhere" />
		<section name="correo" type="Interseguro.CWRV.Infraestructura.General.SeccionCorreo" allowLocation="true" allowDefinition="Everywhere" />
		<section name="cotizacionesRPPlus" type="Interseguro.CWRV.Infraestructura.General.SeccionCotizacionesRPPlus" allowLocation="true" allowDefinition="Everywhere" />
		<section name="cotizacionesRP" type="Interseguro.CWRV.Infraestructura.General.SeccionCotizacionesRP" allowLocation="true" allowDefinition="Everywhere" />
		<section name="keyConfiguration" type="System.Configuration.NameValueFileSectionHandler" />
	</configSections>

	<log4net>
		<root>
			<level value="ALL" />
			<appender-ref ref="LogFileAppender" />
		</root>
		<appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
			<param name="File" type="log4net.Util.PatternString" value="Logs\\CWRV.Presentacion.%date{yyyyMMdd}.log" />
			<param name="AppendToFile" value="true" />
			<rollingStyle value="Date" />
			<datePattern value="yyyyMMdd" />
			<staticLogFileName value="true" />
			<layout type="log4net.Layout.PatternLayout">
				<param name="ConversionPattern" value="%date [%thread] %-5level [%type.%method] [%aspnet-request{AUTH_USER}] [%aspnet-request{REMOTE_ADDR}] - %message%newline" />
			</layout>
		</appender>
	</log4net>

	<appSettings file="Endpoints.config">
		<!--
    Dominio de Red
    -->
		<add key="DominioRed" value="DINTERSEGURO" />

		<!--
    Parámetros Reporting Services
    -->
		<add key="DominioReportingServices" value="http://10.29.37.40/ReportServer" />
		<add key="RutaReporteDetalleCotizacion" value="/CWRV/Reports/rptDetalleCotizacion" />
		<add key="RutaReporteDetalleCotizacionMembretado" value="/CWRV/Reports/rptDetalleCotizacionMembretado" />
		<add key="RutaReporteDetalleCotizacionProtegido" value="/CWRV/Reports/rptDetalleCotizacionProtegido" />
		<add key="RutaReporteEscenarios" value="/CWRV/Reports/rptEscenarios" />
		<add key="RutaReporteSimulacionJubilarseHoyFuturo" value="/CWRV/Reports/rptSimulacionJubilarseHoyFuturo" />
		<add key="RutaReporteSimulacionRentaVitaliciaRetiroProgramado" value="/CWRV/Reports/rptSimulacionRentaVitalicia" />
		<add key="RutaReporteSimulacionInmediataDiferida" value="/CWRV/Reports/rptSimulacionInmediataDiferida" />
		<add key="RutaReporteSimulacionTipoMoneda" value="/CWRV/Reports/rptSimulacionTipoMoneda" />
		<add key="RutaReporteSimulacionQueMeConviene" value="/CWRV/Reports/rptQueMeConviene" />
		<add key="RutaReporteSolicitudAnticipo" value="/CWRV/Reports/rptSolicitudAnticipo" />
		<add key="RutaReporteDescargaSolicitudes" value="/CWRV/Reports/rptDescargaSolicitudes" />
		<add key="RutaReporteDetalleCotizacionLote" value="/CWRV/Reports/rptDetalleCotizacionLote" />
		<add key="RutaReporteCalculoCapital" value="/CWRV/Reports/rptCalculoCapital" />
		<add key="RutaReporteDetalleAfiliado" value="/CWRV/Reports/rptDetalleAfiliado" />
		<add key="RutaReporteDetallePropuestaPlus" value="/CWRV/Reports/rptDetallePropuestaPlus" />
		<add key="RutaReporteDetallePropuestaIFP" value="/CWRV/Reports/rptDetallePropuestaIFP" />
		<add key="RutaReporteSimulacionComparativo" value="/CWRV/Reports/rptComparativo" />

		<!--
    Parámetros Sistema de Seguridad (SEGAM)
    -->
		<add key="AplicacionAZMAN" value="CWRV" />
		<add key="IdSistemaSeguridad" value="262" />

		<!--
    Máximo de cotizaciones permitidas por solicitud
    - Colocar un valor numérico, entero positivo.
    -->
		<add key="MaxCotizaciones" value="20" />

		<!--
    Edades mínima y máxima de jubilación para el Simulador de Jubilarse Hoy o a Futruro
    - Colocar valores numéricos, enteros positivos.
    - La edad mínima debe ser menor o igual a la edad máxima.
    -->
		<add key="EdadMinJubilacion" value="65" />
		<add key="EdadMaxJubilacion" value="85" />

		<!--
    Indicador de dependencia del CRM (S/N)
    - Si el indicador se encuentra activo el CWRV sólo funcionará si se accede al mismo a través del CRM, caso contrario
      mostrará un mensaje indicando que debe accederse a través del CRM y no permitirá el inicio de sesión.
    - Si el indicador se encuentra inactivo, el CWRV no dependerá del CRM y podrá ser accedido desde su propio formulario
      de inicio de sesión.
    -->
		<add key="DependenciaCRM" value="N" />

		<!-- 
    Rango de IPs permitidas para Parámetros Especiales (ACOM, DCOM y TRA)
    - Se deben colocar los rangos de IP permitidos (el inicio si son varias o la IP completa si es alguna específica).
    - Separar por espacios en blanco si hay más de una.
    - Ejemplo: Para permitir a las IPs 126.26.10.XX y 128.28.10.XX colocar "126.26.10. 128.28.10.".
    -->
		<add key="RangoIPsParametrosEspeciales" value="::1 127.0.0.1 126.26.3. 126.26.10. 126.26.12. 126.26.110. 126.26.111. 126.26.255. 128.28.10. 128.28.12. 128.28.24. 128.28.110. 128.28.112. 10.5.61. 10.43.5. 10.43.7. 10.43.8. 10.48.24. 10.48.25. 153.30.1. 153.30.255. 153.40.2. 153.41.2. 153.61.3. 154.20.2. 155.13.2. 155.27.255. 156.20.2. 157.2.2. 157.20.1. 157.20.2. 157.23.2. 157.40.2. 157.60.2. 157.70.2. 130.30.2. 153.13.2. 172.22.16. 10.5.61.102 154.20.2.201 109.43.5.108 10.0.0.6 10.20. 10.21. 10.22. 10.23. 10.24. 10.25. 10.26. 10.27. 10.28. 10.29. 10.212.134. 10.19.18. 10.255.255." />

		<!--
    Key ACOM
    -->
		<add key="KeyAcom" value="S" />

		<!--
    Key DCOM
    -->
		<add key="keyDcom" value="S" />

		<!--
    Número máximo de simulaciones que se puede realizar en la opción de Capital Requerido
    -->
		<add key="MaxCalculoCapital" value="10" />

		<!--
    Validaciones contra el CRM y el SDA
    - Para activarlas colocar el valor "S"
    - Para desactivarlas colocar el valor "N"
    -->
		<add key="ValidacionesCRM" value="N" />
		<add key="ValidacionesSDA" value="N" />
		<add key="ValidacionesCorreo" value="N" />

		<!--
    Notificaciones por Correo Electrónico
    Cuentas de usuario (AD) a las que deben llegar las notificaciones, separar por comas.
    - El parámetro EnviarNotificaciones va en S si se desean activar las notificaciones, N en caso contrario
    - Asegurarse de que los nombres de usuario estén bien escritos.
    - Si se desea enviar a más de un usuario, separarlos por comas.
    - Ejemplo: "hlaura,ralegre,lespinoza"
    -->
		<add key="EnviarNotificaciones" value="S" />
		<add key="EnviarNotificaciones" value="N" />
		<add key="UsuarioJefeOperaciones" value="lespinoza1,gosores1,jmotta1" />
		<add key="UsuarioGerenteComercial" value="mmendiola1" />
		<add key="UsuarioAsistenteComercial" value="gbustillos1" />
		<add key="UsuariosNotificaciones" value="" />

		<!--
    Mensajes de error
    -->
		<add key="MensajeSinPermisos" value="Usted no tiene privilegios sobre esta opción." />
		<add key="ExcepcionComunicacionSeguridad" value="No es posible establecer comunicación con el Servicio Web del Sistema de Seguridad, probablemente no se encuentre disponible." />
		<add key="ExcepcionComunicacionCotizador" value="No es posible establecer comunicación con el Servicio Web del Cotizador Web de Rentas Vitalicias, probablemente no se encuentre disponible." />

		<!--
    Cantidad Máxima de Item PBS, Cotizacion Oficial
    -->
		<add key="MaxItemPBS" value="40" />

		<!--
    Valor Mínimo de PBS, Cotizacion Oficial
    -->
		<add key="MinPBS" value="0" />

		<!--
    Valor Máxima de Item PBS, Cotizacion Oficial
    -->
		<add key="MaxPBS" value="20" />

		<!--
    Valida cuotas (S=Si valida, N=No valida)
    -->
		<add key="ValidaCuotas" value="S" />

		<add key="RutaRepositorioTemporal" value="/ArchivosTemporales" />
		<add key="TipoArchivo" value=".pdf,.jpg,.jpeg,.png" />

		<!--
    Producto RPP para enviar a plaft
    -->
		<add key="ProductoPlaftRPP" value="750101" />

		<!--
    Parámetros de la integración con Google Drive
    -->
	<add key="applicationName_drive" value="InterseguroRPP" />
    <add key="keyFilePath_drive" value="D:\files\credencial\InterseguroRPP-3273ddf1fa2d.p12" />
    <add key="serviceAccountEmail_drive" value="intersegurorppdes@intersegurorpp.iam.gserviceaccount.com" />
    <add key="pwd_drive" value="notasecret" />
    <add key="id_carpeta_drive" value="168wbmE5gNr42IfyrOCcszgjA_VCIdu12" />
    <add key="MegasPermitido" value="3" />
	
    <add key="MaxCotizacionesIFP" value="30" />
    <add key="SolicitudIfpFormatosOut" value="\\hotei-dev\Rentas\Renta_Particular\IFP\Solicitud\Documentos_Generados\" />
    <add key="SolicitudRppPepOut" value="\\hotei-dev\Rentas\Renta_Particular\RPP\Solicitud\Documentos_Generados\" />
    <add key="SolicitudIfpFormatosOut" value="\\rea\pub\Rentas\Renta_Particular\IFP\Solicitud\Documentos_Generados\" />
    <add key="SolicitudRppPepOut" value="\\rea\pub\Rentas\Renta_Particular\RPP\Solicitud\Documentos_Generados\" />
    <!--<add key="destinatario_envio_evaluacion_inteligo" value="pchavezc,oortiz,aortiz" />-->
	  <add key="destinatario_envio_evaluacion_inteligo" value="hlaura,ealmarazgarcia@gmail.com" />
    <add key="url_token_apiCWRV" value="http://10.49.46.27/apiCWRV/api/token" />
    <!--<add key="url_token_apiCWRV" value="http://localhost:5000/api/token" />-->
    <add key="url_cliente_permitido" value="http://10.49.46.27/apiCWRV/api/clientes-permitidos/{0}/{1}/{2}" />

    <add key="url_consentimiento_cliente" value="http://10.49.46.27/consentimiento-api/api/v1/consentimientos" />
    <add key="url_firmas_digitales" value="http://10.49.46.27/apiCWRV/api/firmas-digitales" />
    <add key="url_app_consentimiento" value="https://10.29.27.170/consentimiento/{0}" />
    <add key="url_app_firmas_digitales" value="https://10.29.27.170/solicitudes-rentas/{0}" />  <!--<add key="url_firmas_digitales" value="https://localhost:44397/api/firmas-digitales" />-->
    <add key="url_envio_correo" value="http://aizen-dev/ServicioMail/Servicio_Enviar_Correo.svc/enviarCorreoRemitente" />
    <add key="url_envio_correo_sme" value="http://10.49.46.27/sme-envio-correos/api/masterbase/v2/envios-individuales" />
    <add key="url_formato_consentimiento_cliente" value="http://10.49.46.27/consentimiento-api/api/v1/reportes/formato-consentimiento/{0}/{1}" />
    <add key="url_formato_SADP" value="http://10.49.46.27/apiCWRV/api/firmas-digitales/formato-consentimiento/{0}/{1}" />
    <add key="flag_proveedor_correo" value="SME" />
    
    <!--SME,AIZEN,N-->
    <add key="flag_correo_cliente" value="S" />
    <add key="flag_correo_agente" value="S" />
    
    <!--correo consentimiento-->
    <add key="remitente_consentimiento" value="servicios@interseguro.com.pe" />
    <!--<add key="destinatario_consentimiento" value="N" />-->
    <add key="destinatario_consentimiento" value="eduardo.almaraz@interseguro.com.pe" />
    
    <add key="asunto_consentimiento" value="Consentimiento y protección de tus datos personales" />
    <add key="asunto_firmas_digitales" value="¡Gracias por elegirnos, validemos tus datos!" />
    
	  <!-- Endpoints -->
    <add key="url_consulta_consentimiento_cliente" value="http://10.49.46.27/consentimiento-api/api/v1/consentimientos/por-configuracion-documento/{0}/{1}/{2}/{3}" />
	  <add key="url_consulta_consentimiento_universal" value="http://10.49.46.27/consentimiento-api/api/v1/consentimientos/por-tratamiento/{0}/{1}/{2}/{3}" />
    <add key="url_app_adn" value="https://10.29.27.170/solicitudes-rentas/adn/{0}" />
    <add key="url_consulta_consentimiento_id" value="http://10.49.46.27/consentimiento-api/api/v1/consentimientos/{0}/{1}" />
    <add key="url_formato_adn" value="http://10.49.46.27/apiCWRV/api/consentimiento-clientes/formato-consentimiento/{0}/{1}" />
    <add key="url_app_confimacion_adn" value="https://10.29.23.170/solicitudes-rentas/adn/{0}/confirmacion" />
    <add key="url_asegurados_token_adn" value="http://10.49.46.27/apiCWRV/api/asegurados/por-token/{0}" />
    <add key="url_asegurados_cuspp" value="http://10.49.46.27/apiCWRV/api/asegurados/{0}" />
    <add key="url_tratamiento" value="http://10.49.46.27/consentimiento-api/api/v1/configuraciones/{0}/tratamientos/{1}" />
    
    <!-- Formatos de Renta Particular -->
    <add key="url_formato_solicitud_rpp" value="http://10.49.46.27/apiCWRV/api/documentos/solicitud-rpp/{0}/{1}" />
    <add key="url_formato_solicitud_ifp" value="http://10.49.46.27/apiCWRV/api/documentos/solicitud-ifp/{0}/{1}" />
    <add key="url_formato_origen_fondo" value="http://10.49.46.27/apiCWRV/api/documentos/origen-fondos/{0}/{1}" />
    <add key="url_formato_pep" value="http://10.49.46.27/apiCWRV/api/documentos/pep/{0}/{1}" />
    <add key="url_formato_constancia_abono" value="http://10.49.46.27/apiCWRV/api/documentos/constancia-abono/{0}/{1}" />
    <add key="url_formato_detalle_cotizacion" value="http://10.49.46.27/apiCWRV/api/documentos/detalle-cotizacion/{0}/{1}" />

    <!--<add key="url_formato_detalle_cotizacion_nuevo" value="http://10.49.46.27/apiCWRV/api/documentos/detalle-cotizacion-nuevo/{0}/{1}" />-->
    <add key="url_formato_detalle_cotizacion_nuevo" value="http://localhost:5000/api/documentos/detalle-cotizacion-nuevo/{0}/{1}" />
    
    <add key="url_formato_detalle_rescate" value="http://10.49.46.27/apiCWRV/api/documentos/rescate/{0}/{1}" />
    <add key="url_formato_solicitud_rpp_historico" value="http://10.49.46.27/apiCWRV/api/documentos/solicitud-rpp-historico/{0}/{1}/{2}" />
    <add key="url_formato_solicitud_ifp_historico" value="http://10.49.46.27/apiCWRV/api/documentos/solicitud-ifp-historico/{0}/{1}/{2}" />
    <add key="url_formato_origen_fondo_historico" value="http://10.49.46.27/apiCWRV/api/documentos/origen-fondos-historico/{0}/{1}/{2}" />
    <add key="url_formato_pep_historico" value="http://10.49.46.27/apiCWRV/api/documentos/pep-historico/{0}/{1}/{2}" />
    <add key="url_formato_constancia_abono_historico" value="http://10.49.46.27/apiCWRV/api/documentos/constancia-abono-historico/{0}/{1}/{2}" />
    <add key="url_formato_detalle_cotizacion_historico" value="http://10.49.46.27/apiCWRV/api/documentos/detalle-cotizacion-historico/{0}/{1}/{2}" />
    <add key="url_formato_detalle_cotizacion_nuevo_historico" value="http://10.49.46.27/apiCWRV/api/documentos/detalle-cotizacion-historico/{0}/{1}/{2}" />
    <add key="url_formato_detalle_rescate_historico" value="http://10.49.46.27/apiCWRV/api/documentos/rescate-historico/{0}/{1}/{2}" />
	
    <add key="url_asesor_inteligo" value="http://10.49.46.27/apiCWRV/api/solicitudes/asesores-inteligo/{0}" />
    <add key="url_lista_departamentos" value="http://10.49.46.27/apiCWRV/api/direcciones/departamentos/{0}" />
    <add key="url_lista_provincias" value="http://10.49.46.27/apiCWRV/api/direcciones/provincias/{0}/{1}" />
    <add key="url_lista_distritos" value="http://10.49.46.27/apiCWRV/api/direcciones/distritos/{0}/{1}" />  
  
    <!-- Generador de reportes en Excel -->
    <add key="url_reporte_generar_excel" value="http://10.49.46.27/apiCWRV/api/reportes/guardar-excel" />
    <add key="ruta_Reporte_Plantilla_indicadoresRRVV" value="\\hotei-dev\Rentas\Renta_Vitalicia\Reportes\Plantilla\Indicadores_Comercial_RRVV.xlsx" />
    <add key="ruta_Reporte_Generado_indicadoresRRVV" value="\\hotei-dev\Rentas\Renta_Vitalicia\Reportes\Documentos_Generados\Indicadores_Comercial_RRVV.xlsx" />

    <!-- Notificación de emisión de póliza -->
    <add key="remitente_agente_poliza" value="servicios@interseguro.com.pe" />
    <add key="asunto_agente_poliza" value="¡La póliza {0} de {1} fue emitida!" />
	
    <!-- Conexión con el API rviadm-admin -->
    <add key="url_crear_sesion_rviadm" value="http://10.49.46.27/rviadm-admin/api/v1/accesos/crear-Sesion" />
    <add key="url_pdf_emision_poliza_rviadm" value="http://10.49.46.27/rviadm-admin/api/v1/polizas/generar-pdf-emision/{0}/{1}" />
    <add key="url_pdf_emision_poliza_admwr" value="http://10.49.46.27/admwr-api/api/polizas/generar-pdf/{0}" />
    <add key="usuario_admwr_api" value="cwrv" />
    <add key="contraseña_admwr_api" value="z427FcQwMSPZuFbIjNWGAAACC1MEo1DG7cIOBSuI3ps" />  
  
    <!-- Ruta base del API de Envío de Documentos del SME -->
    <add key="url_envio_documentos_sme" value="http://10.49.46.27/sme-envio-documentos/api/v1" />
    
    <!-- IDs de Proceso SME para los envíos que requieren tracking -->
    <add key="SMEConsentimientoRV" value="139" />
    <add key="SMEConsentimientoRVRespuesta" value="143" />
    <add key="SMEConsentimientoRP" value="140" />
    <add key="SMEConsentimientoRPRespuesta" value="144" />
    <add key="SMEFirmaDigitalRV" value="141" />
    <add key="SMEFirmaDigitalRP" value="142" />
	  <add key="SMEFirmaDigitalRPFlujoCorreccion" value="172" />
	  <add key="SMEFirmaDigitalRPFlujoCorreccion" value="155" />
  
    <!-- Endpoint del API CWRV para el registro en la tabla cwrv_envio_seguimiento -->
    <add key="url_envio_seguimiento" value="http://10.49.46.27/apiCWRV/api/envio-seguimiento" />
	
	  <!-- Endpoint del API CWRV para listar la tabla cwrv_solicitudes_cerradas -->
    <add key="url_solicitudes_cerradas" value="http://10.49.46.27/apiCWRV/api/refuerzos/{0}" />

    <!-- Endpoint del API CWRV para listar la tabla cwrv_firma_digital -->
    <add key="url_listar_firmas_digitales" value="http://10.49.46.27/apiCWRV/api/firmas-digitales/listar" />

    <!-- Endpoint del API CWRV para insertar la tabla cwrv_solicitudes_cerradas -->
    <add key="url_solicitudes_cerradas_post" value="http://10.49.46.27/apiCWRV/api/refuerzos" />
	
    <!-- Reemplaza el correo del agente por el especificado -->
    <!--<add key="destinatario_consentimiento_agente" value="N" />-->
    <add key="destinatario_consentimiento_agente" value="eduardo.almaraz@interseguro.com.pe" />
	
    <!-- Endpoint del API Consentimiento por rango de fecha -->
    <add key="url_consentimiento_por_fecha" value="http://10.49.46.27/consentimiento-api/api/v1/consentimientos/por-rango-fecha/{0}/{1}/{2}" />
	
    <!-- Ruta de la plantilla del reporte de trazabilidad de envíos -->
    <add key="ruta_Reporte_Plantilla_Trazabilidad" value="\\hotei-dev\Rentas\Renta_Vitalicia\Reportes\Plantilla\Trazabilidad.xlsx" />
	
    <!-- Ruta de la generación del reporte de trazabilidad de envíos -->
    <add key="ruta_Reporte_Generado_Trazabilidad" value="\\10.29.21.142\pdf\Renta_Vitalicia\Reportes\Documentos_Generados\" />
	
    <!-- URL Base del API del CWRV -->
    <add key="url_base_api_cwrv" value="http://10.49.46.27/apiCWRV/api" />
    <!--<add key="url_base_api_cwrv" value="http://localhost:5000/api" />-->
	
    <!-- Plantillas para los reportes de CdA y VCTP -->
    <add key="ruta_plantilla_reporte_indicadoresCDA" value="\\10.29.37.44\Rentas\Renta_Vitalicia\Reportes\Plantilla\CDA_Plantilla.xlsx" />
    <add key="ruta_plantilla_reporte_indicadoresVCTP" value="\\10.29.37.44\Rentas\Renta_Vitalicia\Reportes\Plantilla\VCTP_Plantilla.xlsx" />
    
    <!-- Fecha de validación para cotizar la moneda IPC -->
    <add key="fecha_validacion_moneda_IPC" value="11/07/2022" />

		<!-- Endpoint del API Estudio de Necesidades -->
		<add key="estudio_necesidades_api" value="http://docker-desa.interseguro.com.pe:3779/estudio-necesidades-api" />
		<add key="username_estudio_necesidades_api" value="ESTUDIONECESIDAD" />
		<add key="password_estudio_necesidades_api" value="RjLpzsm468XTBGeJhkWZMOEJ4MqpC4mIGkW0QgRkF0OvBFsT0Vi4a" />
		<add key="codigo_producto_cs" value="02" />
		<add key="producto_cs" value="RENTAS" />
		<add key="repositorio_cs" value="RENTAS" />

		<!-- URL Base del API rviadm-admin -->
		<add key="url_rviadm_backend" value="http://inari-dev/rviadm-admin/api/v1" />

    <!-- Google reCAPTCHA v3 -->
    <add key="reCAPTCHAValidationUrl" value="https://www.google.com/recaptcha/api/siteverify?secret={0}&amp;response={1}&amp;remoteip={2}" />
    <add key="reCAPTCHASiteKey" value="6Ld8uQwoAAAAAJ7u6frCuvXCIFWH5FIgjP8awfpe" />
    <add key="reCAPTCHASecretKey" value="6Ld8uQwoAAAAAD6Fkxv1xJy6jA3EKTiBdhqmnLIq" />
    <add key="reCAPTCHAPuntajeMinimo" value="0.1" />

    <!-- Modernizacion CWRV -->
    <add key="ApiSolicitudesCambioUrl" value="https://is-cr-rentas-api-solicitudes-cambio-844194900662.us-central1.run.app/api/v1" />
    <add key="ApiCotizadorIfpUrl" value="https://is-cr-rentas-api-cotizador-rp-844194900662.us-central1.run.app/api/v1" />
    <add key="ApiCotizadorRvUrl" value="https://is-cr-rentas-api-cotizador-rv-844194900662.us-central1.run.app/api/v1" />
    <add key="ApiParametroUrl" value="https://is-cr-rentas-api-parametros-844194900662.us-central1.run.app/api/v1" />
    <add key="ApiAutenticacionUrl" value="https://is-cr-rentas-api-autenticacion-844194900662.us-central1.run.app/api/v1" />
    <add key="ApiReportesUrl" value="https://is-cr-rentas-api-reportes-844194900662.us-central1.run.app/api/v1" />
  </appSettings>

	<keyConfiguration configSource="keyConfiguration.config">
	</keyConfiguration>

	<!-- 
  Cotizaciones predeterminadas
  - Lista de modalidades de cotización que aparecen por omisión cuando se crea una nueva solicitud.
  -->
	<cotizaciones>
		<add nro="1" moneda="001" producto="01" modalidad="D" periodoDiferido="1" pjeEntreRentras="50" periodoGarantizado="0" gratificacion="N" capital="-" />
		<add nro="2" moneda="001" producto="01" modalidad="I" periodoDiferido="0" pjeEntreRentras="0" periodoGarantizado="0" gratificacion="N" capital="-" />
		<add nro="3" moneda="014" producto="01" modalidad="I" periodoDiferido="0" pjeEntreRentras="0" periodoGarantizado="0" gratificacion="N" capital="-" />
		<add nro="4" moneda="014" producto="01" modalidad="I-RB" periodoDiferido="0" pjeEntreRentras="0" periodoGarantizado="0" gratificacion="N" capital="03" />
		<add nro="5" moneda="014" producto="01" modalidad="I-RM" periodoDiferido="0" pjeEntreRentras="0" periodoGarantizado="0" gratificacion="N" capital="03" />
		<add nro="6" moneda="013" producto="01" modalidad="I-RC" periodoDiferido="0" pjeEntreRentras="0" periodoGarantizado="0" gratificacion="N" capital="04" />
	</cotizaciones>

	<cotizacionesRP>
		<add nro="1" moneda="001" periodoGarantizado="0" />
		<add nro="2" moneda="013" periodoGarantizado="0" />
	</cotizacionesRP>

	<cotizacionesRPPlus>
		<add nro="1" moneda="001" periodoGarantizado="0" />
		<add nro="2" moneda="013" periodoGarantizado="0" />
	</cotizacionesRPPlus>

	<!-- 
  Mensaje de correo electrónico predeterminado
  - Redacción del mensaje de correo electrónico que aparece por omisión.
  -->
	<correo>
		<asunto texto="Cotización IS_{ApellidoPaternoAfiliado} {ApellidoMaternoAfiliado} {NombreAfiliado}" />
		<mensaje>
			<![CDATA[{TratamientoAfiliado} {ApellidoPaternoAfiliado} {ApellidoMaternoAfiliado}, {NombreAfiliado}

De acuerdo a lo revisado el día de hoy, envío la cotización {TipoCotizacion}.

{NombreAgente}]]>
		</mensaje>
		<mensajesimulacion>
			<![CDATA[{TratamientoAfiliado} {ApellidoPaternoAfiliado} {ApellidoMaternoAfiliado}, {NombreAfiliado}

De acuerdo a lo revisado el día de hoy, envío la cotización.

{NombreAgente}]]>
		</mensajesimulacion>
		<!--
      Datos de Parámetros Especiales    
    -->
		<asuntoParametrosEspeciales texto="PRUEBA - Solicitudes de cambio {NroSolicitud}" />
		<mensajeParametrosEspeciales>
			<![CDATA[<div style="color: #000; font-family:Arial; font-size: 10pt">
<img src="https://app.interseguro.com.pe/CWRV/Imagenes/logo_is1.png" /><br />
<p style="color:#0060a9; font-size:16pt; margin: 0">Cotizador Web de Rentas Vitalicias</p>

<p>Estimado(a) {Nombre}:</p>

<p>Se le envía(n) la(s) siguiente(s) solicitud(es) para su aprobación.</p>

<p>Este correo no tiene válidez.</p>
<p>{InformeA}{InformeB}</p>

<a href="{UrlSolicitudes}">Consulte sus solicitudes pendientes haciendo clic Aquí</a>
 
</p>
 
<p>Atentamente,<br>
Interseguro - Cotizador Web de Rentas Vitalicias</p>
</div>]]>
		</mensajeParametrosEspeciales>
		<asuntoGestionVentas texto="PRUEBA - Reporte Gestión de Ventas de {FechaDesde} a {FechaHasta}" />
		<mensajeGestionVentas>
			<![CDATA[<div style="color: #000; font-family:Arial; font-size: 10pt">
<img src="https://app.interseguro.com.pe/CWRVCERTIFICACION/Imagenes/logo_is1.png" /><br />
<p style="color:#0060a9; font-size:16pt; margin: 0">Cotizador Web de Rentas Vitalicias</p>
 
<p>Estimado(a) {Nombre}:</p>
 
<p>Se le envía(n) la(s) siguiente(s) solicitud(es) meler.</p>
 
 
<p>Atentamente,<br>
Interseguro - Cotizador Web de Rentas Vitalicias</p>
</div>]]>
		</mensajeGestionVentas>

		<!--<FINGTI_4081>-->


		<!--
      Datos de Parámetros Especiales
      -->
		<!-- <asuntoParametrosEspeciales texto="Solicitud de Parámetros Especiales: {NroSolicitud}" />
      <mensajeParametrosEspeciales>
        <![CDATA[<div style="color: #000; font-family:Arial; font-size: 10pt">
<img src="https://app.interseguro.com.pe/CWRVCERTIFICACION/Imagenes/logo_is1.png" /><br />
<p style="color:#0060a9; font-size:16pt; margin: 0">Cotizador Web de Rentas Vitalicias</p>

<p>Estimado(a) {Nombre}:</p>

<p>Usted tiene una nueva solicitud de Parámetros especiales pendiente de aprobación.</p>

<p>{InformeA}{InformeB}</p>

<p>Puede consultar sus solicitudes pendientes en el siguiente enlace:<br />
{UrlSolicitudes}</p>

<p>Atentamente,<br>
Interseguro - Cotizador Web de Rentas Vitalicias</p>
</div>]]>
      </mensajeParametrosEspeciales>-->

	</correo>

  <system.web>
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" validate="false" />
    </httpHandlers>
    <compilation targetFramework="4.0" debug="true">
      <assemblies>
        <add assembly="Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="Microsoft.ReportViewer.Common, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </buildProviders>
    </compilation>
	<customErrors mode="Off" />
    <authentication mode="Forms">
      <forms loginUrl="~/Seguridad/IniciarSesion.aspx" defaultUrl="~/Principal.aspx" name="CotWebRVICookie" timeout="35" path="/" />
    </authentication>
    <authorization>
      <deny users="?" />
    </authorization>
    <httpRuntime requestValidationMode="2.0" />
    <pages validateRequest="false" enableEventValidation="false" viewStateEncryptionMode="Never" enableViewStateMac="false" />
    <identity impersonate="true" />
	  <sessionState timeout="30" />
	  <!-- <sessionState mode="StateServer"
	  stateConnectionString="tcpip=10.49.35.87:42424"
	  cookieless="false" timeout="20"/> -->
  </system.web>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="50000000" />
      </webServices>
    </scripting>
  </system.web.extensions>
  <location path="Estilos">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Iconos">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Imagenes">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Scripts">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="RentaIFP/ProcesarTareas.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <!-- GTI.71365 -->
  <location path="Seguridad/IniciarSesion.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>       
        <behavior name="behavior_EPCWRV">
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
        </behavior>
      </endpointBehaviors>
	</behaviors>
    <bindings>
      <wsHttpBinding>
        <binding name="EPCWRV" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="33554432" maxReceivedMessageSize="33554432" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="33554432" maxArrayLength="33554432" maxBytesPerRead="33554432" maxNameTableCharCount="33554432" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false" />
          <security mode="None">
          </security>
        </binding>
        <binding name="epAzman" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="33554432" maxReceivedMessageSize="33554432" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
              <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
              <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false" />
              <security mode="Message">
                  <transport clientCredentialType="Windows" proxyCredentialType="None" realm="" />
                  <message clientCredentialType="Windows" negotiateServiceCredential="true" algorithmSuite="Default" />
              </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <!--<endpoint address="http://10.49.46.25/wsCWRV/ServicioCotizador.svc" binding="wsHttpBinding" bindingConfiguration="EPCWRV" contract="Proxies.ModuloPrincipal.IServicioCWRV" name="EPCWRV">-->
        <!--<endpoint address="http://hotei-dev/wsCWRV/ServicioCotizador.svc" binding="wsHttpBinding" bindingConfiguration="EPCWRV" contract="Proxies.ModuloPrincipal.IServicioCWRV" name="EPCWRV">-->
		<endpoint address="http://localhost:54356/ServicioCotizador.svc" binding="wsHttpBinding" bindingConfiguration="EPCWRV" contract="Proxies.ModuloPrincipal.IServicioCWRV" name="EPCWRV">
        <identity>
          <!--<userPrincipalName value="cwrsepro@interseguro.com.pe" />-->
          <userPrincipalName value="segampro@interseguro.com.pe" />
        </identity>
      </endpoint>
      <!-- <endpoint address="http://hotei-dev/wsSeguridad/ServiceAzman.svc" binding="wsHttpBinding" bindingConfiguration="epAzman" contract="Proxies.ModuloSeguridad.IServicioAzman" name="epAzman"> -->
      <endpoint address="http://hotei-dev/wsSeguridad/ServiceAzman.svc" binding="wsHttpBinding" bindingConfiguration="epAzman" contract="Proxies.ModuloSeguridad.IServicioAzman" name="epAzman">
        <identity>
          <userPrincipalName value="segampro@interseguro.com.pe" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </handlers>
    <defaultDocument>
      <files>
        <add value="Principal.aspx" />
      </files>
    </defaultDocument>
    <staticContent>
      <clientCache cacheControlMode="DisableCache" />
    </staticContent>
  </system.webServer>
  
  <!-- Producción no requiere PROXY, ambientes menores sí -->
  <!--
  <system.net>
    <defaultProxy>
	  <proxy
	    usesystemdefault="true"
		proxyaddress="http://proxy.interseguro.com.pe:8080"
		bypassonlocal="true"
	  />
	  <bypasslist/>
	  <module/>
    </defaultProxy>
  </system.net>
  -->

	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.6.10.0" newVersion="2.6.10.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Threading.Tasks" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.6.10.0" newVersion="2.6.10.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.2.29.0" newVersion="2.2.29.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Net.Http.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.2.29.0" newVersion="2.2.29.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.0.12.0" newVersion="2.0.12.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
			</dependentAssembly>

		</assemblyBinding>
	</runtime>

</configuration>