<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net"/>
  </configSections>
  <log4net>
    <root>
      <level value="ALL"/>
      <appender-ref ref="LogFileAppender"/>
    </root>
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="Logs\\CWRV.ServiciosAcceso.log"/>
      <param name="AppendToFile" value="true"/>
      <rollingStyle value="Size"/>
      <maxSizeRollBackups value="10"/>
      <maximumFileSize value="10MB"/>
      <staticLogFileName value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline"/>
      </layout>
    </appender>
  </log4net>
  <appSettings>
    <!--
    Lista de IPs permitidas para usar el Servicio Web
    - Separar por espacios en blanco si hay más de una.
    - Ejemplo: Para permitir a las IPs 126.26.10.10 y 128.28.10.15 colocar "126.26.10.10 128.28.10.15".
    -->
    <add key="ListaIPsPermitidas" value="127.0.0.1 126.26.111.89 2002:7e1a:6f59::7e1a:6f59 ::1 130.30.11.67" />
  </appSettings>
  <connectionStrings>
    <!--<add name="Conexion" connectionString="data source=cronos\desarrollo;Initial Catalog=exp_serv;Integrated Security=true" providerName="System.Data.SqlClient"/>-->
		<add name="Conexion" connectionString="data source=10.49.46.19;Initial Catalog=exp_serv;User Id=user_cwrv_api;Password=VAz7ZWX9e6tq2bg3Y;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="AccesoCWRVBindingNetTCP" maxBufferPoolSize="2147483646" maxBufferSize="2147483646" maxReceivedMessageSize="2147483646">
          <readerQuotas maxDepth="2147483646" maxStringContentLength="2147483646" maxArrayLength="2147483646" maxBytesPerRead="2147483646" maxNameTableCharCount="2147483646"/>
        </binding>
      </netTcpBinding>
      <wsHttpBinding>
        <binding name="AccesoCWRVBindingWsHttp" maxReceivedMessageSize="33554432">
          <readerQuotas maxDepth="32" maxStringContentLength="33554432" maxArrayLength="33554432" maxBytesPerRead="33554432" maxNameTableCharCount="33554432"/>
        </binding>
      </wsHttpBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="AccesoCWRVBehavior" name="Interseguro.CWRV.ServiciosAcceso.ServicioAccesoCWRV">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="AccesoCWRVBindingWsHttp" name="EPAccesoCWRV" contract="Interseguro.CWRV.ServiciosAcceso.IServicioAccesoCWRV"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="AccesoCWRVBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <dataContractSerializer/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="false" multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="false"/>
  </system.webServer>
</configuration>